html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'PathwayGothicOne-Regular';
  src: url(../ttf/PathwayGothicOne-Regular.ttf); }

body {
  background-image: url("../images/wall.jpg");
  color: #333;
  font-family: "Helvetica Neue","Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 18px; }

section {
  margin: 60px auto;
  max-width: 1200px; }
  section.full-width {
    max-width: none; }
  section:last-child {
    margin-bottom: 0; }

footer {
  text-align: center;
  padding: 20px 0;
  background: #008c51;
  color: #fff;
  margin-top: 20px; }

ol, ul {
  list-style: none; }

p {
  margin-top: 10px; }

.slider {
  margin-top: 30px; }
  .slider div {
    padding: 18px; }
  .slider p {
    font-size: 1.3em;
    padding: 0 10px; }

img {
  display: block; }

.img-full {
  margin-top: 20px;
  margin-bottom: 20px; }
  .img-full img {
    margin: 0 auto;
    max-width: 100%; }

h1#top-top {
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 1200px) {
    h1#top-top {
      width: auto; } }
  @media (max-width: 767px) {
    h1#top-top {
      position: inherit;
      transform: inherit; } }
  h1#top-top img {
    max-width: 100%;
    margin: 0 auto; }

h1#contents-top img {
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    h1#contents-top img {
      max-width: 100%; } }

h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 5em;
  font-family: PathwayGothicOne-Regular; }

h3 {
  font-size: 1.6em;
  margin-top: 30px;
  position: relative;
  border-bottom: #fff solid 4px; }
  h3::after {
    content: "";
    position: absolute;
    left: 0;
    width: 116px;
    height: 4px;
    background: #008c51;
    bottom: -4px; }

h4 {
  padding-left: 15px;
  position: relative;
  font-size: 1.2em; }
  h4:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    background-color: #008c51;
    left: 0;
    top: 2px; }

.hdg-bg {
  background: url("../images/hdg_bg.png") no-repeat;
  width: 312px;
  height: 135px; }
  .hdg-bg .hdg-bg span {
    margin: 30px; }

@keyframes border-animation {
  to {
    transform: rotate(360deg); } }

span.marker {
  background: linear-gradient(transparent 50%, #008c5177 50%); }

header {
  position: relative;
  top: -200px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4); }
  @media (max-width: 767px) {
    header {
      position: inherit;
      padding-top: 10px;
      padding-bottom: 10px; } }

.sub-header {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
  padding-bottom: 10px; }
  .sub-header .nav-wrapper {
    max-width: 470px;
    margin-left: 40px; }
    @media (max-width: 767px) {
      .sub-header .nav-wrapper {
        background-color: #fff;
        max-width: 100%;
        width: 100%;
        height: 200vw;
        position: fixed;
        top: 0;
        left: 100%;
        transition: all 0.6s;
        opacity: 0;
        border-radius: 4px;
        margin-left: 0;
        z-index: 10px; } }
    @media (max-width: 767px) {
      .sub-header .nav-wrapper.active {
        transform: translatex(-100%);
        opacity: 1; } }
  .sub-header .global-nav {
    font-size: 2.3em; }
  @media (max-width: 767px) {
    .sub-header {
      display: block; } }

.global-nav {
  display: flex;
  font-size: 3.3em;
  justify-content: center;
  font-family: PathwayGothicOne-Regular; }
  @media (max-width: 767px) {
    .global-nav {
      font-size: 2.3em; } }
  .global-nav li {
    list-style: none;
    width: 200px;
    margin: 10px 20px;
    text-align: center; }
    .global-nav li a {
      color: #000; }
      .global-nav li a:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background-color: #008c51;
        margin: 5px auto 0;
        transition: 0.2s ease-in-out; }
      .global-nav li a:hover:after, .global-nav li a:focus:after {
        width: 100px; }

.video-wrap {
  position: relative; }
  .video-wrap video {
    width: 100%; }
  @media (max-width: 767px) {
    .video-wrap {
      display: none; } }

.flex-sa {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .flex-sa .flex-v-align {
    align-self: center; }
  @media (max-width: 767px) {
    .flex-sa {
      display: block; } }

a {
  text-decoration: none; }

.link {
  color: #333;
  font-size: 1.1em; }
  .link::before {
    content: "";
    width: 7px;
    height: 7px;
    border-bottom: solid #008c51 2px;
    border-right: solid #008c51 2px;
    transform: rotate(-45deg);
    top: -4px;
    margin-right: 10px;
    display: inline-block;
    position: relative; }
  .link:hover, .link:active, .link:focus {
    color: #008c51; }

main {
  padding-left: 20px;
  padding-right: 20px; }
  main#top {
    position: relative;
    top: -150px; }
    @media (max-width: 767px) {
      main#top {
        position: inherit; } }

table {
  width: 100%;
  border-collapse: collapse;
  border: solid 3px #999;
  background-color: #fff; }
  table th, table td {
    text-align: left;
    vertical-align: middle;
    padding: 5px 5px;
    border-right: 0;
    border-left: 0; }
  table th {
    font-weight: bold;
    line-height: 1.6;
    width: 20%; }

#to-top {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10%;
  bottom: 10%;
  display: none;
  opacity: 0.7; }
  #to-top:hover, #to-top:focus {
    opacity: 1; }
  #to-top a {
    color: #fff;
    display: block;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 0.9rem;
    width: 100%;
    line-height: 80px; }
  #to-top span {
    mix-blend-mode: multiply;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  #to-top .circle_01 {
    background-color: #008c51;
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    animation: border-animation 6s infinite linear; }
  #to-top .circle_02 {
    background-color: #5a9b7f;
    border-radius: 80% 30% 50% 50%/50%;
    animation: border-animation 4s infinite linear; }
  #to-top .circle_03 {
    background-color: #2fd68d;
    border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
    animation: border-animation 3s infinite linear; }

.btn-hamb {
  position: fixed;
  top: 14px;
  right: 14px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  z-index: 20; }

@media (min-width: 768px) {
  .btn-hamb {
    display: none; } }

.btn-hamb span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px; }

.btn-hamb, .btn-hamb span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box; }

.btn-hamb span:nth-of-type(1) {
  top: 0; }

.btn-hamb span:nth-of-type(2) {
  top: 20px; }

.btn-hamb span:nth-of-type(3) {
  bottom: 0; }

.btn-hamb.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg); }

.btn-hamb.active span:nth-of-type(2) {
  opacity: 0; }

.btn-hamb.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg); }

.skill-inner {
  margin-top: 40px; }
  .skill-inner p {
    margin-top: 20px; }
  .skill-inner > div {
    padding: 10px 20px; }
    @media (max-width: 767px) {
      .skill-inner > div {
        max-width: 767px;
        margin-left: auto;
        margin-right: auto; } }

.about-inner {
  margin-top: 40px; }
  .about-inner p {
    margin-top: 20px; }
  .about-inner > div {
    padding: 10px 20px; }
    @media (max-width: 767px) {
      .about-inner > div {
        max-width: 767px;
        margin-left: auto;
        margin-right: auto; } }

#work-1 {
  background-image: url("../images/work_01.jpg"); }

#work-2 {
  background-image: url("../images/work_03.jpg"); }

#work-3 {
  background-image: url("../images/work_06.jpg"); }

#work-4 {
  background-image: url("../images/work_04.jpg"); }

#work-5 {
  background-image: url("../images/work_02.jpg"); }

#work-6 {
  background-image: url("../images/work_05.jpg"); }

.dog-ear {
  height: 420px;
  width: 300px;
  background-size: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto; }
  .dog-ear a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative; }
    .dog-ear a:before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      border-width: 0 28px 28px 0;
      border-style: solid;
      border-color: #eee #eee #fff #fff;
      box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.2);
      display: block;
      width: 0;
      transform: rotate(270deg);
      transition: 0.4s; }
    .dog-ear a:hover, .dog-ear a:focus {
      background-color: rgba(0, 0, 0, 0.3); }
    .dog-ear a:hover span, .dog-ear a:focus span {
      opacity: 1; }
    .dog-ear a span {
      font-size: 38px;
      opacity: 0;
      color: #fff;
      padding: 10px;
      width: 100%;
      transition: opacity 0.3s;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .dog-ear:hover > a:before, .dog-ear:focus > a:before {
    border-width: 0 50px 50px 0;
    box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.3); }

.work-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px; }
  .work-inner p {
    margin-top: 20px;
    font-size: 0.9em;
    text-align: center; }
  .work-inner > div {
    margin: 10px 20px; }
    @media (max-width: 767px) {
      .work-inner > div {
        max-width: 767px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px; } }

.work-skill {
  font-style: italic;
  font-weight: bold; }
